@font-face {
  font-family: "LondrinaSolid";
  src: url("../../public/fonts/LondrinaSolid-Black.ttf") format("truetype");
}

/* @font-face {
  font-family: 'LondrinaSolidShadow';
  src: url('../resources//assets//fonts/LondrinaSolid-Black.ttf')
} */
